.row-fluid
  .span4
    .row-fluid.margin-bottom
      = link_to 'Add a New Product', new_product_path, class: "btn btn-primary span12"      
    .row-fluid.margin-bottom
      = link_to 'View Products', products_path, class: "btn btn-primary span12"
    .row-fluid.margin-bottom
      = link_to 'Add a New Theme', new_theme_path, class: "btn btn-success span12"      
    .row-fluid.margin-bottom
      = link_to 'View Theme', themes_path, class: "btn btn-success span12"
    .row-fluid.margin-bottom
      = link_to 'Add a New Category', new_category_path, class: "btn btn-primary span12"
    .row-fluid.margin-bottom
      = link_to 'View Categories', categories_path, class: "btn btn-primary span12"  
  .span8
    .row-fluid
      %h5 Theme Total Views
      - @themes.each do |theme|
        .row-fluid
          .span2= theme.title
          - theme.tracks.order('created_at DESC').limit(5).each do |track|
            .span2
              .text-center= track.day
              %p.text-center= track.views

    / .row-fluid
    /   %h5 Product Total Views
    / .row-fluid
    /   - @products.each do |product|
    /     .span12= product.views