%h1 Listing themes
.row-fluid
  = link_to 'New Theme', new_theme_path, class: 'btn btn-primary span4'
%table.table.table-striped
  %tr
    %th Title
    %th Description
    %th Published
    %th Product Count
    %th
    %th
    %th

  - @themes.each do |theme|
    %tr
      %td= theme.title
      %td= theme.description
      %td= theme.published
      %td= theme.products.count
      %td= link_to 'Show', theme, class: 'btn btn-primary'
      %td= link_to 'Edit', edit_theme_path(theme), class: 'btn btn-success'
      %td= link_to 'Destroy', theme, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'
%br


