.row-fluid
  .span12.hero-banner= image_tag 'db-hero-banner.jpg'
.row-fluid.main-filters
  = link_to "Geeky Douche", '/browse/1', class: "span4 btn btn-success", style: 'margin-bottom: 10px;'
  = link_to "Party Douche", '/browse/2', class: "span4 btn btn-success", style: 'margin-bottom: 10px;'
  = link_to "True Douche", 'browse/3', class: "span4 btn btn-danger", style: 'margin-bottom: 10px;'

= render '/products/display', locals: @products


