- content_for :title do
  -@product.title
.row-fluid
  .span6
    .medium
      - @product.product_photos.each_with_index do |photo, index|
        = link_to image_tag(photo.photo(:large)), @product.deep_link, id: "id-#{photo.id}",  class: 'aff_link '+ (index > 0 ? ' hidden' : ''), rel: "nofollow"
    .row-fluid.thumbs{style: 'margin: 10px 0;'}
      - @product.product_photos.each do |photo|
        = link_to image_tag(photo.photo(:thumb)), @product.deep_link, photo_id: "id-#{photo.id}", rel: "nofollow"
    .row-fluid{style: "text-align: center;"}
      .span12= link_to @product.author, "http://#{@product.author}"
  .span6.info
    .row-fluid{style: "margin-bottom: 10px;"}
      %h4.span12= @product.title
    .info-content
      .row-fluid
        .span12 Tags:
        - @product.tags.each do |tag|
          = link_to tag.name, "/browse/search?query=#{tag.name}", class: 'btn btn-primary yellow', style: "margin-bottom: 5px;"
      .row-fluid{style: "margin-top: 20px;"}
        = link_to @product.category.name, '/browse/' + @product.category_id.to_s, class: 'black btn btn-primary font-large'
      .row-fluid{style: "margin-top: 10px;"}
        = @product.description
      .row-fluid{style: 'margin-top: 30px'}
        = link_to 'Buy', @product.deep_link, class: 'btn btn-success yellow font-large aff_link', product_id: @product.id
        / .span1
        / = link_to "See this shirt",  @product.deep_link, class: "aff_link btn btn-success span6", rel: "nofollow"
        / 