%footer.footer
  .container
    %small
    %nav
      .row-fluid
        .span3
          = link_to 'Contact', '/' 
          %ul.unstyled.sub-footer
            %li= link_to 'Contact Us', '/' 
        .span3  
          = link_to 'About Us', '/'
          %ul.unstyled.sub-footer
            %li= link_to 'Careers', '/'  
            %li= link_to 'FAQ', '/'  
        .span3
          = link_to 'Terms', '/' 
          %ul.unstyled.sub-footer
            %li= link_to 'Privacy Policy', '/'
            %li= link_to 'User Agreement', '/'
        .span3
          = link_to 'Social', '/'
          %ul.unstyled.sub-footer
            %li= link_to 'Tumblr', '/'
            %li= link_to 'Facebook', '/' 
            %li= link_to 'Twitter', '/'
            %li= link_to 'Pinterest', '/' 
      .row-fluid
        .hr
      .row-fluid
        .span12
          Use of this site constitutes acceptance of our User Agreement and Privacy Policy. Copyright © 2013 Douchey Shirts, LLC unless otherwise attributed. All Rights Reserved. 