%footer.footer
  .container
    %small
    %nav
      .row-fluid
        .span3
          = link_to 'Contact', '/' 
          %ul.unstyled.sub-footer
            %li= link_to 'Contact Us', '/' 
            %a{href: "http://www.viglink.com/legal/disclosures/users?vgtag=badge"}
              %img{alt: "VigLink badge", height:"31", src:"//www.viglink.com/images/badges/88x31.png", title: "Links monetized by VigLink", width: "88"}
        .span3  
          = link_to 'About Us', '/'
          %ul.unstyled.sub-footer 
            -if current_user 
              %li= link_to "Logout", logout_path
            -else
              %li= link_to "Login", login_path
        .span3
          = link_to 'Terms', '/' 
          %ul.unstyled.sub-footer
            %li= link_to 'Privacy Policy', '/'
            %li= link_to 'User Agreement', '/'
        .span3
          = link_to 'Social', '/'
          %ul.unstyled.sub-footer
            %li= link_to 'Tumblr', '/'
            %li= link_to 'Facebook', '/' 
            %li= link_to 'Twitter', '/'
            %li= link_to 'Pinterest', '/' 
      .row-fluid
        .hr
      .row-fluid
        .span12
          Use of this site constitutes acceptance of our User Agreement and Privacy Policy. Copyright © 2013 Douchey Shirts, LLC unless otherwise attributed. All Rights Reserved. 
